body {
  background-color: #9BB8D3;
  color: #404040;
  font-family: Gotham light, helvetica, sans-serif;
  margin: 10% 20%;
} 

.exp-header{
  text-align: center;  
  text-transform: uppercase;
}

h1{
  text-align: center;
}

h4{
  border-bottom: 1px solid #63666a;
}

h6{
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
